auto-save-list/
eln-cache
elpa
**/*.elc
.lsp-session*
transient
tramp
.cache/
tree-sitter
load-elisp-files
url/
.bootstrapped
session.*
.last-package-update-day
opam-user-setup.el
projectile-bookmarks.eld
recentf
eshell/
org-roam.db
.org-id-locations
bookmarks
.workpc
projects
ssh.el
/server